#totop
  position:fixed
  bottom:50px
  right:30px
  text-align: center
  z-index: 100
  a
    display: block
    padding 4px 8px
    color: #fff
    background-color: #258fb8
    cursor: pointer
    border-radius: 5px
    &:hover
      opacity: .8